providers: [
  {
    key: "bt"
    config:
      commands: [
        {
          project: "C:\\Users\\Tausif\\Desktop\\projekt\\fling_level_editor"
          source: "C:\\Users\\Tausif\\Desktop\\projekt\\fling_level_editor\\.build-tools.cson"
          name: "build all"
          command: "echo Done"
          wd: "."
          env: {}
          modifier:
            wildcards: {}
            dependency:
              list: [
                [
                  "1"
                  "0"
                  "Compile"
                ]
                [
                  "1"
                  "1"
                  "linker"
                ]
                [
                  "1"
                  "2"
                  "cleaning up"
                ]
              ]
              abort: true
          stdout:
            highlighting: "nh"
            ansi_option: "ignore"
          stderr:
            highlighting: "nh"
            ansi_option: "ignore"
          output:
            console:
              close_success: true
              queue_in_buffer: true
              stdin: false
          version: 1
        }
      ]
  }
  {
    key: "bt"
    config:
      commands: [
        {
          project: "C:\\Users\\Tausif\\Desktop\\projekt\\fling_level_editor"
          source: "C:\\Users\\Tausif\\Desktop\\projekt\\fling_level_editor\\.build-tools.cson"
          name: "Compile"
          command: "g++ -Wall -std=gnu++11 -c ../source/*.cpp -I../Include "
          wd: "./object"
          env: {}
          modifier:
            shell:
              command: "bash -c"
          stdout:
            highlighting: "nh"
            ansi_option: "ignore"
          stderr:
            highlighting: "hc"
            profile: "gcc_clang"
          output:
            console:
              close_success: true
              queue_in_buffer: true
              stdin: false
          version: 1
        }
        {
          project: "C:\\Users\\Tausif\\Desktop\\projekt\\fling_level_editor"
          source: "C:\\Users\\Tausif\\Desktop\\projekt\\fling_level_editor\\.build-tools.cson"
          name: "linker"
          command: "g++ *.o -o ../bin/furslvleditor.exe"
          wd: "./object"
          env: {}
          modifier:
            wildcards: {}
            shell:
              command: "bash -c"
          stdout:
            highlighting: "nh"
            ansi_option: "ignore"
          stderr:
            highlighting: "hc"
            profile: "gcc_clang"
          output:
            console:
              close_success: true
              queue_in_buffer: true
              stdin: false
          version: 1
        }
        {
          project: "C:\\Users\\Tausif\\Desktop\\projekt\\fling_level_editor"
          source: "C:\\Users\\Tausif\\Desktop\\projekt\\fling_level_editor\\.build-tools.cson"
          name: "cleaning up"
          command: "del *.h.gch"
          wd: "./Include"
          env: {}
          modifier:
            wildcards: {}
          stdout:
            highlighting: "nh"
            ansi_option: "ignore"
          stderr:
            highlighting: "nh"
            ansi_option: "ignore"
          output: {}
          version: 1
        }
      ]
  }
]
